<!DOCTYPE html>
<html>
    <head>
        <%-include('../templates/header.ejs')%>
    </head>
    <body style="background-color: rgba(76, 199, 230, 0.6);">

        <nav class="navbar navbar-light" style="background-color: white;">
            <%-include('../templates/navMainOnLogin.ejs')%>
        </nav><br>
        
        <main><br>
            <div class="container" style="background-color: white;">
                <nav class="navbar navbar-light" style="background-color: rgba(217, 217, 217, 0.7);">
                    <%-include('../templates/navDoctor.ejs')%>
                </nav><br>
                <h3 style="text-align: center;">Visualizar Asignación de Consultorios</h3>
                <div class="container">
                    <div class="table-responsive"></div>
                        <div class="table-responsive" id="mydatatable-container">
                            <table id="tablaVisualizacion" class="table table-striped table-bordered ">
                                <thead>
                                    <tr>
                                        <th>N° Consultorio</th>
                                        <th>Piso</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% for(const assignments of data){ %>
                                    <%if(assignments.asignacion.length !=0){%>
                                        <% for(const v of assignments.asignacion){ %>
                                            <%if(v.documento_medico==doc){%>
                                                <tr>
                                                    <td><%=assignments.numero_consultorio%></td>
                                                    <td><%=assignments.piso%></td>
                                                    <td><%=v.fecha%></td>
                                                    <td><%=v.horario%></td>
                                                </tr>
                                            <%}%>
                                        <%}%>
                                    <%}%>
                                <%}%>
                                </tbody>
                                <tfoot class="text-center" style="background: #d78aea; color: black">
                                    <tr>
                                        <th>N° Consultorio</th>
                                        <th>Piso</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                    </tr>
                                </tfoot>
                            </table><br>
                        </div>
                    </div>
                </div>
            </div>                                
        </main>

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <link rel="stylesheet" href= "https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">

        <script src="https://code.jquery.com/jquery-3.5.1.js"> </script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"> </script>
        <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"> </script>

        <script>
            window.addEventListener("pageshow", function (event) {
                let historyTraversal = event.persisted ||
                    (typeof window.performance != "undefined" &&
                    window.performance.navigation.type === 2);
                if (historyTraversal) {
                    window.location.reload();
                }
            });
        </script>                
        
        <script>
            $(document).ready(function () {
                $('#tablaVisualizacion').DataTable();
            });
        </script>
           
        <footer class="footer" style="position: relative; bottom:0; left: 0; width: 100%; height: 50px; background-color: #16254C;">
            <%-include('../templates/footer.ejs')%>
        </footer>
    </body>
</html>